body {
  font-family: "Poppins", serif;
}

.navbar {
  --bs-nav-link-hover-color: #5299d3;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid gray;
}
.carousel-inner {
  max-height: 90dvh;
}

.btn {
  width: max-content;
}
.hero {
  height: calc(100dvh - 62px);
  min-height: 600px;
  background-image: url("./3dPrinter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.hero .content {
  width: 95%;
  max-width: 600px;
  z-index: 2;
}
.productCategory {
  max-width: unset;
}
.productCategory .card {
  height: 400px;
}
.card img {
  object-fit: cover;
  object-position: center;
}
.information {
  width: 95%;
  max-width: 1000px;
}
.informationImage {
  width: calc(100% - 200px);
  max-width: 50%;
}
